[submodule "Libraries/Mantle"]
	path = Libraries/Mantle
	url = https://github.com/MantleFramework/Mantle
[submodule "Libraries/AFNetworking"]
	path = Libraries/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Libraries/MRProgress"]
	path = Libraries/MRProgress
	url = https://github.com/mrackwitz/MRProgress.git
[submodule "Libraries/MSDynamicsDrawerViewController"]
	path = Libraries/MSDynamicsDrawerViewController
	url = https://github.com/monospacecollective/MSDynamicsDrawerViewController.git
[submodule "Libraries/PSLocationManager"]
	path = Libraries/PSLocationManager
	url = https://github.com/perspecdev/PSLocationManager.git
[submodule "Libraries/libextobjc"]
	path = Libraries/libextobjc
	url = https://github.com/jspahrsummers/libextobjc.git
[submodule "Libraries/GHWalkThrough"]
	path = Libraries/GHWalkThrough
	url = https://github.com/GnosisHub/GHWalkThrough.git
[submodule "Libraries/NJKWebViewProgress"]
	path = Libraries/NJKWebViewProgress
	url = https://github.com/ninjinkun/NJKWebViewProgress.git
